<a href="https://colab.research.google.com/github/samsoe/mpg_notebooks/blob/master/cumulative_weather_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
# 2019 data is downloaded from the Orchard House machine
src_jan = 'https://drive.google.com/uc?id=1Y1Ex6AVy_C-wzTYoLBpd3qjMVbs9ycZO'
src_jul = 'https://drive.google.com/uc?id=1M_vX51qflgskxMF7ZV3lOA2SLupooBiV'
# 2012 - 2018 weather data previously processed from Orchard House machine
src_prev = 'https://drive.google.com/uc?id=1_nB5yrKCNAXsjYJgjs9mE0Xd_x-OKCzJ'

In [0]:
# Load and concatenate data dumps from 2019
df_jan = pd.read_csv(src_jan, parse_dates=['Date Time '])
df_jul = pd.read_csv(src_jul, parse_dates=['Date Time '])
df_19 = df_jan.append(df_jul, ignore_index=True)

In [0]:
# Load existing weather archive from the Orchard House machine
df_prev = pd.read_csv(src_prev, parse_dates=['Date Time '])

## Combine
Concatenate weather archive with 2019

In [0]:
# select 2019 columns to match pre-existing stucture
existing_archive_columns = df_prev.columns
df_19 = df_19.loc[:, existing_archive_columns]

In [0]:
df_19

In [0]:
df = df_prev.set_index('Date Time ').loc[:'2018-12-31'].append(df_19.set_index('Date Time '))

In [0]:
df.head(4)

                    Day of the Week   ...  High Rain Rate TX6 (in/hr)
Date Time                             ...
2012-06-19 16:00:00              Tue  ...                         NaN
2012-06-19 16:05:00              Tue  ...                         NaN
2012-06-19 16:10:00              Tue  ...                         NaN
2012-06-19 16:15:00              Tue  ...                         NaN

[4 rows x 43 columns]

In [0]:
df.tail(4)

                    Day of the Week   ...  High Rain Rate TX6 (in/hr)
Date Time                             ...
2019-12-31 22:00:00              Tue  ...                         0.0
2019-12-31 22:30:00              Tue  ...                         0.0
2019-12-31 23:00:00              Tue  ...                         0.0
2019-12-31 23:30:00              Tue  ...                         0.0

[4 rows x 43 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 212994 entries, 2012-06-19 16:00:00 to 2019-12-31 23:30:00
Data columns (total 43 columns):
Day of the Week                      212994 non-null object
Outside Temperature TX1 (°F)         198574 non-null float64
High Outside Temperature TX1 (°F)    198950 non-null float64
Low Outside Temperature TX1 (°F)     198950 non-null float64
Wind Speed TX1 (mph)                 198754 non-null float64
High Wind Speed TX1 (mph)            212994 non-null float64
Rain Amount TX1 (in)                 212994 non-null float64
High Rain Rate TX1 (in/hr)           212994 non-null float64
Outside Temperature TX2 (°F)         184677 non-null float64
High Outside Temperature TX2 (°F)    186759 non-null float64
Low Outside Temperature TX2 (°F)     186759 non-null float64
Wind Speed TX2 (mph)                 186378 non-null float64
High Wind Speed TX2 (mph)            212994 non-null float64
Rain Amount TX2 (in)                 212994 non-null float64
High Rain Rate TX2 (in/hr)           212994 non-null float64
Outside Temperature TX3 (°F)         184190 non-null float64
High Outside Temperature TX3 (°F)    185908 non-null float64
Low Outside Temperature TX3 (°F)     185908 non-null float64
Wind Speed TX3 (mph)                 185660 non-null float64
High Wind Speed TX3 (mph)            212994 non-null float64
Rain Amount TX3 (in)                 212994 non-null float64
High Rain Rate TX3 (in/hr)           212994 non-null float64
Outside Temperature TX4 (°F)         199535 non-null float64
High Outside Temperature TX4 (°F)    199809 non-null float64
Low Outside Temperature TX4 (°F)     199809 non-null float64
Wind Speed TX4 (mph)                 199731 non-null float64
High Wind Speed TX4 (mph)            212994 non-null float64
Rain Amount TX4 (in)                 212994 non-null float64
High Rain Rate TX4 (in/hr)           212994 non-null float64
Outside Temperature TX5 (°F)         212963 non-null float64
High Outside Temperature TX5 (°F)    212965 non-null float64
Low Outside Temperature TX5 (°F)     212965 non-null float64
Wind Speed TX5 (mph)                 212962 non-null float64
High Wind Speed TX5 (mph)            212994 non-null float64
Rain Amount TX5 (in)                 212994 non-null float64
High Rain Rate TX5 (in/hr)           212994 non-null float64
Outside Temperature TX6 (°F)         192513 non-null float64
High Outside Temperature TX6 (°F)    193427 non-null float64
Low Outside Temperature TX6 (°F)     193427 non-null float64
Wind Speed TX6 (mph)                 193168 non-null float64
High Wind Speed TX6 (mph)            210689 non-null float64
Rain Amount TX6 (in)                 210689 non-null float64
High Rain Rate TX6 (in/hr)           210689 non-null float64
dtypes: float64(42), object(1)
memory usage: 71.5+ MB

In [0]:
output = '2012_2019_mpg_weather.csv'
df.to_csv(output)

output hosted here: [2012_2019_mpg_weather.csv]('https://drive.google.com/uc?id=1dvy1a_5PTLpmF6t8MBWL9gyIwoB0T-cK')